<div id="site__sidebar" class="fixed top-0 left-0 z-[99] pt-[--m-top] overflow-hidden 
    transition-transform xl:duration-500 max-xl:w-full max-xl:-translate-x-full">

    <div class="p-2 max-xl:bg-white shadow-sm 2xl:w-72 sm:w-64 w-[80%] h-[calc(100vh-64px)] 
        relative z-30 max-lg:border-r dark:max-xl:!bg-slate-700 dark:border-slate-700">

        <div class="pr-4" data-simplebar>
            <nav id="side">
                <ul>
                    <li>
                        <a href="#">
                            <img src="~/images/icons/home_icon.png" alt="House icon" class="w-6"/>
                            <span> Home </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/images/icons/favorities_icon.png" alt="Red Bookmark icon" class="w-6" />
                            <span> Favorites </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/images/icons/friends_icon.png" alt="Friends icon" class="w-6" />
                            <span> Friends </span>
                        </a>
                    </li>
                </ul>
            </nav>

            <nav id="side" class="font-medium text-sm text-black border-t pt-3 mt-2">

            </nav>

        </div>

    </div>
    <div id="site__sidebar__overly"
        class="absolute top-0 left-0 z-20 w-screen h-screen xl:hidden backdrop-blur-sm" 
        uk-toggle="target: #site__sidebar ; cls :!-translate-x-0">

    </div>
</div>