html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#search--box ion-icon {
    color: rgb(75, 85, 99) !important;
}

#search--box input::placeholder {
    color: rgb(75, 85, 99) !important;
}

#search--box input {
    color: rgb(75, 85, 99) !important;
}

#burger-sidebar ion-icon {
    color: rgb(75, 85, 99) !important;
}

#sidenav_button {
    padding-left: 12px !important;
}

#logo {
    padding-left: 12px !important;
}

.storyModalTitle {
    color: rgb(75, 85, 99) !important;
}

/*Index.cshtml Create User Posts*/
#whatshappening {
    color: rgb(75, 85, 99) !important;
}

/*Index.cshtml Comment Placeholder */
#replyPlaceholder::placeholder {
    color: rgb(107 114 128) !important;
}


/*Index.cshtml Form */
/*For post option button*/
form > button.icon-link {
    width: 100%;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}

/*For post option button*/
form > button.icon-link ion-icon {
    margin-right: 8px;
}