<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PingedGu</title>
    <link href="~/images/logo.png" rel="icon" type="image/png" />

    <script type="importmap"></script>


    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/zcustom1.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PingedGu.styles.css" asp-append-version="true" />
     
</head>
<body>

    <div id="wrapper">

        @* TOP BAR *@
        <partial name="NavBar/_TopBar"></partial>

        @* SIDEBAR *@
        <partial name="NavBar/_SideBar"></partial>

        @RenderBody()
    </div>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/simplebar.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.25.8/dist/js/uikit.min.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>






