@model List<Trending>

<div class="flex justify-between text-black">
    <h3 class="font-bold text-base !text-black">Now Trending</h3>
</div>

<div class="space-y-3.5 capitalize text-xs font-normal mt-5 mb-2 text-gray-600">

    @foreach(var trending in Model)
    {
        <a>
            <div class="flex items-center gap-3 p">
                <div class="flex-1">
                    <h2 class="font-semibold !text-black">@trending.Name</h2>
                    <div class="mt-0.5 mb-2">@trending.Count posts</div>
                </div>
            </div>
        </a>
    }
</div>